@using CuttingOptimizer.Domain.Models;
@using System.Globalization;

<h3>@Plate.ToString()</h3>
<svg viewBox="0 0 @Plate.LengthWithTrim @Plate.WidthWithTrim" style="width: @Width.ToString("0.00", CultureInfo.InvariantCulture)%">
    @if(Plate.Products != null && Plate.Products.Count != 0)
    {
        @foreach (Product prod in Plate.Products)
        {
            <g>
                <rect width="@prod.Length" height="@prod.Width" x="@prod.X" y="@prod.Y" />
                <text x="@prod.X" y="@CalcLabelPosition(prod.Y)" font-family="Verdana" font-size="25" fill="blue">@prod.Info</text>
            </g>
        }
    }
</svg>

@code {
    [Parameter]
    public double Scale { get; set; }

    [Parameter]
    public Plate Plate { get; set; }

    private double Width { get; set; }

    protected override void OnInitialized()
    {
        if(Plate.LengthWithTrim / 100 == Scale)
        {
            Width = 100;
        }
        else
        {
            Width = Plate.LengthWithTrim / Scale;
        }
    }

    private double CalcLabelPosition(double pos)
    {
        return pos + 20;
    }
}
