@using CuttingOptimizer.AppLogic.Models;
@using CuttingOptimizer.Domain.Models;
@using System.Globalization;

@if(Svg.Groups != null && Svg.Groups.Exists(c=>c.ID == 1))
{
    <div class="mt-5 print-page-brake-after">
        <div>
            <PlateDetail Saw=@Saw Svg=@Svg Count="@Count"/>
        </div>

        <div class="row">
            <div class="svg-left-column m-0"></div>
            <div class="col">
                <div class="row border-bottom mb-3 m-0 w-100">
                    <div class="svg-length-label">@Svg.ViewBox.Length</div>   
                </div>
            </div>
        </div>

        <div class ="row">
            <div class="svg-left-column border-end m-0">
                <div class="svg-width-label">@Svg.ViewBox.Width</div>
            </div>
            <div class="col ms-1 mt-1">
                <svg viewBox="0 0 @Svg.ViewBox.Length @Svg.ViewBox.Width" style="width: @Width.ToString("0.00", CultureInfo.InvariantCulture)%;">
                    @foreach (Group group in Svg.Groups)
                    {
                        <g>
                            @if (group.Rectangle != null)
                            {
                                if (group.ID == 0)
                                {
                                    <rect class="rect-free-space" width="@group.Rectangle.Length" height="@group.Rectangle.Width" x="@group.Rectangle.X" y="@group.Rectangle.Y" />
                                }
                                else
                                {
                                    <rect width="@group.Rectangle.Length" height="@group.Rectangle.Width" x="@group.Rectangle.X" y="@group.Rectangle.Y" />
                                }

                                if (group.Rectangle.Label != null && !group.Rectangle.Label.ToString().Equals("0"))
                                {
                                    <text>
                                        <text x="@(group.X + Pos)" y="@(group.Y + Pos + 10)" font-family="Verdana" font-size="14" fill="blue">@group.Rectangle.Label</text>
                                    </text>
                                }
                            }
                        </g>
                    }
                </svg>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public double Scale { get; set; }

    [Parameter]
    public Svg Svg { get; set; }

    [Parameter]
    public Saw Saw { get; set; }

    [Parameter]
    public int Count { get; set; }

    private double Width { get; set; }

    private int Pos
    {
        get { 
            return 10; 
        }
    }

    protected override void OnInitialized()
    {
        if (Svg.ViewBox.Length / (double)100 == Scale)
        {
            Width = 100;
        }
        else
        {
            Width = Svg.ViewBox.Length / (double)Scale;
        }
    }
}
